body {
    font-family: 'Lora', serif;
    background-color: #374052;
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

a {
    text-decoration: none;
    color: #FFF;
}
div.loginbtn {
    height: 10em;
    position: relative;
    
    }
div.loginbtn p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) };
    margin-top: 10em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #FFF;
    font-weight: 400;
    font-family: 'Lora', serif;
    margin: 20px 0;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: #f2f2f2;
}

.hotelname {
	text-transform: uppercase;
	font-weight: 800;
}

.welcome-text {
    font-size: 1.5em;
    color: #FFF;
}

.thumbnail {
    background-color: transparent;
    border: none;
    transition: all 500ms linear;
    transition-delay: 1ms;    
}
.thumbnail:hover {
    opacity: 0.7; /* css standard */
    filter: alpha(opacity=70); /* internet explorer */
    background-color: #656b78;
}
.thumbnail .caption {
    padding: 9px;
    color: #FFF;
}
.hotel-text {
    color: #FFF;
}

/*  aszf */
.panel-body {
    padding: 15px;
    background-color: white;
}